.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
.structureWrapper {
    padding: 10px;
    display: inline-block;
    background: #2F636F;
    color: #fff;
    width: 100%;
    min-height: 100vh;
}
